*,
*::before,
*::after {
    box-sizing: border-box;
}


.heading-background-color {
    background-color: #E4F6F8;
}

.list-background-color,.para-background-color {
background-color: #cfffbb;
}

.heading-color, .para-color, .list-color {
    color: #36454f;
}

.heading-font, .para-font, .list-font {
    font-family: Verdana, sans-serif;
}

.heading-alignment, .para-alignment {
    text-align: center;
}

.main-heading-size {
    font-size: 40px;
}

.list-size, .para-size {
    font-size: 20px;
}

.smaller-heading-size {
    font-size: 30px;
}

.image-size {
    height: auto;
    width: 600px;
}