.heading-background-color {
    background-color: #E4F6F8;
}

.list-background-color,.para-background-color {
background-color: #cfffbb;
}

.heading-color, .para-color, .list-color {
    color: #36454f;
}

.heading-font, .para-font, .list-font {
    font-family: Verdana, sans-serif;
}


