*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.main-heading-box {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #36454f;
}

.home-alignment {
    text-align: center;
}

body {
background-color: #cfffbb;
}

.heading-background-color {
    background-color: #E4F6F8;
}

.para-background-color {
background-color: #cfffbb;
}

.heading-color, 
.para-color, 
.list-color {
    color: #36454f;
}

.heading-font, 
.para-font, 
.list-font {
    font-family: Verdana, sans-serif;
}
 
.para-alignment {
    text-align: center;
}

.main-heading-size {
    font-size: 40px;
}

.list-size, 
.para-size {
    font-size: 20px;
}

.smaller-heading-size {
    font-size: 30px;
}

.image-size {
    height: auto;
    width: 600px;
}

